---
import { readAll } from "../lib/markdoc/read";
import { blog } from "../lib/markdoc/frontmatter.schema";
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE } from "../config";
import { ZodUndefined, z, type ZodObject } from "zod";
import type { RenderableTreeNode } from "@markdoc/markdoc";
import type AboutTheTheme from "src/components/AboutTheTheme.astro";

const posts = await readAll({
  directory: "blog",
  frontmatterSchema: blog,
});

const filteredPosts = posts
  .filter((p) => p.frontmatter.draft !== true)
  .filter(({ frontmatter }) => !frontmatter.external)
  .filter(({ frontmatter }) => frontmatter.tags !== undefined);

function des(post: {
  slug: string;
  content: RenderableTreeNode;
  frontmatter: any;
}) {
  if (post.frontmatter.external == false) return post.frontmatter.description;
  else {
    return null;
  }
}

var allPostTags: Array<string> = [];

filteredPosts.map((post) => {
  const posttags: Array<string> = post.frontmatter.tags;
  // console.log(posttags);
  allPostTags.push(...posttags);
  // console.log(allPostTags)
});

function uniqueMask(value: any, index: number, array: Array<string>) {
  return array.indexOf(value) === index;
}

const uniquePostTags = allPostTags.filter(uniqueMask);
---

<PageLayout>
  <PageMeta title={`Blog | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
    <h1 class="mb-2">
      <span class="heading text-3xl font-bold">Tags:</span>
    </h1>
    <div class="flex justify-normal">
      {
        uniquePostTags.map((tag) => (
          <li class="inline-block my-4 mx-4 underline-offset-8">
            <a
              class="flex-auto unset
                transition-[background-size] duration-300 
                bg-gradient-to-r bg-left-bottom bg-no-repeat
                bg-[length:0%_55%] hover:bg-[length:100%_55%] dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
                from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue text-lg"
              href={`/tags/${tag}`}
            >
              {`#${tag}`}
            </a>
          </li>
        ))
      }
    </div>
  </section>
</PageLayout>
